{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}

    <div id="app">

        <h1>Note index</h1>

        <div>
            <input v-model="noteInputText">
            <button @click="submitNote">Submit</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>Tags</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="note in notes" :key="note.id">
                    <td>${ note.id }</td>
                    <td v-if="note.status === 'complete'" class="text-decoration-line-through">${ note.text }</td>
                    <td v-else>${ note.text }</td>
                    <td>tags</td>
                    <td>
                        <button @click="markNoteComplete(note.id)" type="button">Mark as complete</button>
                        <button @click="deleteNote(note.id)" type="button">Delete</button>
                        <button type="button">Add Tag</button>
                    </td>
                </tr>

                <tr v-if="notes.length == 0">
                    <td colspan="3">no records found</td>
                </tr>
            </tbody>
        </table>

        <h1>Tag index</h1>

        <div>
            <input v-model="tagInputText">
            <button @click="submitTag">Submit</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="tag in tags" :key="tag.id">
                    <td>${ tag.id }</td>
                    <td>${ tag.text }</td>
                    <td>
                        <button @click="deleteTag(tag.id)" type="button">Delete</button>
                    </td>
                </tr>

                <tr v-if="tags.length == 0">
                    <td colspan="3">no records found</td>
                </tr>
            </tbody>
        </table>

    </div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
const { createApp } = Vue

const app = createApp({
    data() {
        return {
            notes: [],
            tags: [],
            noteInputText: 'Potato',
            tagInputText: 'Tomato'
        }
    },
    created() {
        this.fetchNotes()
        this.fetchTags()
    },
    methods: {
        fetchNotes() {
            fetch('/api/notes')
                .then(res => res.json())
                .then(notes => {
                    this.notes = notes
                })
        },
        fetchTags() {
            fetch('/api/tags')
                .then(res => res.json())
                .then(tags => {
                    this.tags = tags
                })
        },
        submitNote() {
            const body = {
                text: this.noteInputText,
                status: '',
                userId: 1
            }
            const headers = {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
            fetch('/api/notes', {
                method: "POST",
                headers,
                body: JSON.stringify(body)
            })
                .then(res => res.json())
                .then(() => {
                    this.fetchNotes()
                })
                .catch(err => console.log(err))
        },
        submitTag() {
            const body = {
                text: this.tagInputText,
                status: '',
                userId: 1
            }
            const headers = {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
            fetch('/api/tags', {
                method: "POST",
                headers,
                body: JSON.stringify(body)
            })
                .then(res => res.json())
                .then(() => {
                    this.fetchTags()
                })
                .catch(err => console.log(err))
        },
        markNoteComplete(noteId) {
            const body = {
                status: 'complete',
            }
            const headers = {
                "Accept": "application/json",
                // "Content-Type": "application/json"
                "Content-Type": "application/merge-patch+json"
            }
            fetch('/api/notes/'+noteId, {
                method: "PATCH",
                headers,
                body: JSON.stringify(body)
            })
                .then(res => res.json())
                .then(() => {
                    this.fetchNotes()
                })
                .catch(err => console.log(err))
        },
        deleteNote(noteId) {
            if(!confirm("Are you sure you want to delete?")) return
            const headers = {
                "Accept": "*/*",
            }
            fetch('/api/notes/'+noteId, {
                method: "DELETE",
                headers
            })
                .then(() => {
                    this.fetchNotes()
                })
                .catch(err => console.log(err))
        },
        deleteTag(tagId) {
            if(!confirm("Are you sure you want to delete?")) return
            const headers = {
                "Accept": "*/*",
            }
            fetch('/api/tags/'+tagId, {
                method: "DELETE",
                headers
            })
                .then(() => {
                    this.fetchTags()
                })
                .catch(err => console.log(err))
        }
    },
    delimiters: ['${', '}']
})
app.mount('#app')

</script>

{% endblock %}
