{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}

    <div id="app">

        <h1>Note index</h1>

        <div>
            <input v-model="inputText">
            <button @click="submit">Submit</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="note in notes" :key="note.id">
                    <td>${ note.id }</td>
                    <td>${ note.text }</td>
                    <td>
                        <button type="button">
                            Mark as complete
                        </button>
                        <button type="button">
                            Delete
                        </button>
                        <button type="button">
                            Add Tag
                        </button>
                    </td>
                </tr>

                <tr v-if="notes.length == 0">
                    <td colspan="3">no records found</td>
                </tr>
            </tbody>
        </table>

    </div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
const { createApp } = Vue

const app = createApp({
    data() {
        return {
            notes: [],
            inputText: 'Potato'
        }
    },
    created() {
        this.fetch()
    },
    methods: {
        fetch() {
            fetch('/api/notes')
                .then(res => res.json())
                .then(notes => {
                    this.notes = notes
                })
        },
        submit() {
            const body = {
                text: this.inputText,
                status: '',
                userId: 1
            }
            const headers = {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
            fetch('/api/notes', {
                method: "POST",
                headers,
                body: JSON.stringify(body)
            })
                .then(res => res.json())
                .then(() => {
                    this.fetch()
                })
                .catch(err => console.log(err))
        }
    },
    delimiters: ['${', '}']
})
app.mount('#app')

</script>

{% endblock %}
